@{
    Layout = "_LayoutLogin";
}
<div class="container" style="margin-top:50px">
    <div class="container">
        <div class="notification is-danger"><strong>Access Denied</strong><br /><span>Access to this page is denied. You need to be logged in to view this page.</span><br /><br /><a href="/">Click here to go to front page</a></div>
    </div>
</div>